<body>

<div class="container py-3">
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <%= image_tag ("D.A.R.T01.png"),class: "img-fluid rounded mx-auto d-block", size: "700x110" %>
        <h3><p class="fs-5 text-muted">メモ感覚で書ける日報アプリ</p></h3>
        </div>
    </header>

    <div class="row">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <%= image_tag ("D.A.R.T01.png"), class: "img-fluid" %>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">こんな悩みありませんか？</h5>
                            <p class="card-text"></p>
                            <p class="card-text"><small class="text-muted"><li>きちんとした日報じゃなくもっとメモのような感覚で記録しておきたい<br>
                                                                        <li>作業が終わって詰所に戻り日報を書く時には内容が曖昧になってる<br>
                                                                        <li>どこで何をやったかうろ覚え
                                                                        <li>似たような作業をしたときにどんな道具を使ったっけ？
                                                                        <li>日報を読み返したいのに手元に無い
                                                                        </small></p>
                        </div>                                                
                    </div>
                </div>
            </div>
        </div>    

        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                    <%= image_tag ("D.A.R.T01.png"), class: "img-fluid" %>
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">このアプリでできること</h5>
                        <p class="card-text"></p>
                        <p class="card-text"><small class="text-muted">日報をどこでも気軽に読み書き出来るようにし、実作業効率改善のサポートを考えております。</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
</body>    