<h1>D.R.A.T</h1>
<h3>メモ感覚で書ける日報アプリ</h3>

<p><h2>こんな悩みありませんか？<h2></p>
<p><h3>きちんとした日報じゃなくもっとメモのような感覚で記録しておきたい<h2></p>
<p><h3>作業が終わって詰所に戻り日報を書く時には内容が曖昧になってる<h2></p>
<p><h3>どこで何をやったかうろ覚え<h2></p>
<p><h3>似たような作業をしたときにどんな道具を使ったっけ？<h2></p>
<p><h3>日報を読み返したいのに手元に無い<h2></p>
<p></p>
<p><h2>このアプリができること<h2></p>
<p><h3>日報をどこでも気軽に読み書き出来るようにし、実作業効率の改善を提供したいと考えております。<h2></p>